USE [LTWeb]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/5/2021 5:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[SoDienThoaiAD] [varchar](11) NOT NULL,
	[TenaAdmin] [nvarchar](30) NULL,
	[MatKhau] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDienThoaiAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 1/5/2021 5:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[SoDienThoai] [varchar](11) NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDienThoai] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 1/5/2021 5:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[NgayThanhToan] [datetime] NULL,
	[SoDienThoai] [varchar](11) NULL,
	[DiaChi] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/5/2021 5:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[SoDienThoai] [varchar](11) NOT NULL,
	[TenKhach] [nvarchar](30) NULL,
	[MatKhau] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiMon]    Script Date: 1/5/2021 5:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMon](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon]    Script Date: 1/5/2021 5:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon](
	[MaMon] [int] NOT NULL,
	[TenMon] [nvarchar](50) NULL,
	[Gia] [int] NULL,
	[LinkAnh] [text] NULL,
	[MaLoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([SoDienThoaiAD], [TenaAdmin], [MatKhau]) VALUES (N'0111222333', N'admin0', N'000')
GO
INSERT [dbo].[GioHang] ([SoDienThoai], [MaMon], [SoLuong]) VALUES (N'0773330001', 3, 1)
INSERT [dbo].[GioHang] ([SoDienThoai], [MaMon], [SoLuong]) VALUES (N'0773330001', 23, 1)
INSERT [dbo].[GioHang] ([SoDienThoai], [MaMon], [SoLuong]) VALUES (N'0773536859', 24, 1)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaDon], [MaMon], [SoLuong], [NgayThanhToan], [SoDienThoai], [DiaChi]) VALUES (1, 1, 1, CAST(N'2021-01-02T16:13:26.823' AS DateTime), N'0773330001', N'An Khê                                                                                              ')
INSERT [dbo].[HoaDon] ([MaDon], [MaMon], [SoLuong], [NgayThanhToan], [SoDienThoai], [DiaChi]) VALUES (2, 13, 1, CAST(N'2021-01-02T16:13:37.380' AS DateTime), N'0773330001', N'An Khê                                                                                              ')
INSERT [dbo].[HoaDon] ([MaDon], [MaMon], [SoLuong], [NgayThanhToan], [SoDienThoai], [DiaChi]) VALUES (4, 27, 1, CAST(N'2021-01-02T18:21:19.637' AS DateTime), N'0773536859', N'1, võ văn ngân, thủ đức                                                                             ')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[KhachHang] ([SoDienThoai], [TenKhach], [MatKhau]) VALUES (N'0773330001', N'Huỳnh Thị Hương Ly', N'123')
INSERT [dbo].[KhachHang] ([SoDienThoai], [TenKhach], [MatKhau]) VALUES (N'0773330002', N'Trần Thị Lệ Xuân', N'123')
INSERT [dbo].[KhachHang] ([SoDienThoai], [TenKhach], [MatKhau]) VALUES (N'0773330003', N'Trương Hùng Anh', N'123')
GO
INSERT [dbo].[LoaiMon] ([MaLoai], [TenLoai]) VALUES (1, N'Cà phê')
INSERT [dbo].[LoaiMon] ([MaLoai], [TenLoai]) VALUES (2, N'Trà sữa')
INSERT [dbo].[LoaiMon] ([MaLoai], [TenLoai]) VALUES (3, N'Trà')
GO
INSERT [dbo].[Mon] ([MaMon], [TenMon], [Gia], [LinkAnh], [MaLoai]) VALUES (1, N'Phin sữa đá', 29000, N'https://images.foody.vn/res/g1/4097/s570x570/201852118910-phin-sua-da.jpg', 1)
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[Mon] ([MaMon])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[KhachHang] ([SoDienThoai])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[Mon] ([MaMon])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[KhachHang] ([SoDienThoai])
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiMon] ([MaLoai])
GO
